<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SF0 技术支持 - 网站</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="/app/bower_components/jquery/dist/jquery.min.js"> -->
  <!-- <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap-table.css"> -->

</head>

<body id="page-top"  ng-app="myApp" ng-controller="myCtrl"> 

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
     
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div> -->
        <img src='img/TMSRSINAP.png' width="220" height="70">
       
        <!-- <div class="sidebar-brand-text mx-3">SF0   技术支持<sup></sup></div> -->
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>SF0 变量查询</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- <hr class="sidebar-divider my-0"> -->

      <li class="nav-item">
        <a class="nav-link" href="/sf0Ip">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>SF0 IP地址分配</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="/sf0Terminal">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>SF0 信号端子分配</span></a>
      </li>


      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="/sf0Device">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>SF0 设备信息查询</span></a>
      </li>
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="/sf0File">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>SF0 文件信息查询</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lf1Camera">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>CSS访问历史数据说明</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.10.9:8080">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>TMSR 日志系统</span></a>
      </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
     
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <hr>

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">SF0 IP地址分配</h1>
          <p class="mb-4">说明：<br>1.节点交换机通过双光纤和核心交换机相连，形成冗余双星网络<br>
            2.EPICS网段： 192.168.10.XXX<br>
            3.DPU网段： 222.222.221.xxx   222.222.222.xxx<br>
            4.DPU EPICS IOC地址 192.168.10.3:9001 192.168.10.3:9002 192.168.10.3:9003 192.168.10.3:9004 192.168.10.3:9005 192.168.10.3:9006 192.168.10.3:9007 192.168.10.3:9010 192.168.10.77:9003<br>
            5.堆芯加热器 EPICS IOC地址 192.168.10.76:9060 192.168.10.76:9061 192.168.10.76:9062 <br>
            6.高精度热电偶 EPICS IOC地址 192.168.10.76:9001 192.168.10.76:9002 192.168.10.76:9003 192.168.10.76:9004
            7.堆芯功率计算 EPICS IOC地址 192.168.10.77:9001 
            8.空冷热功率计算 EPICS IOC地址 192.68.10.77:9002
            9.
          </a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">SF0 IP地址分配</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <!-- <table class="table table-bordered" id="table" width="100%" cellspacing="0"> -->
               <table id='table'> </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="/app/bower_components/bootstrap/dist/js/popper.js"></script>
  <!-- <script src="/app/bower_components/jquery/dist/jquery.min.js"></script> -->
  <script src="/app/bower_components/angular/angular.min.js"></script>
  <script src="/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/app/bower_components/bootstrap/dist/js/bootstrap-table.js"></script>
  <script src="/app/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/app/bower_components/bootstrap/dist/js/bootstrap-table-zh-CN.js"></script>
  <script>
    var app = angular.module('myApp', ['ngRoute']);
    app.controller('myCtrl',function($scope,$http){

    $('#table').bootstrapTable({
    url: 'sf0IpConfig.json',
    method:'GET',
    contentType: "application/x-www-form-urlencoded",
    striped:true,
    // toolbar: '#toolbar',//指定工具栏
    cache:false,
    pagination:true,
    sortable:true,
    sortOrder:"asc",
    sidePagination: "client",
    pageNumber: 1,  
    pageSize: 10, 
    pageList: [10, 25, 50, 100],  
    search: true,  
    showColumns: true,
    showRefresh: true, 
    clickToSelect: true,  
    paginationPreText:"上一页",
    paginationNextText:"下一页", 
    // showRefresh:true,//刷新按钮
    columns: [{
        field: 'index',
        title: '序号'
    }, {
        field: 'deviceCode',
        title: '节点设备码',
        sortable:true
    }, {
        field: 'nodeName',
        title: '节点名称',
        sortable:true
    }, {
        field: 'nodePosition',
        title: '节点位置',
        sortable:true
    },{
        field: 'ipConfigure',
        title: 'IP地址分配',
        sortable:true
    },{
        field: 'protocol',
        title: '通讯协议',
        sortable:true
    },{
        field: 'contacts',
        title: '设备联系人',
        sortable:true
    },]
}); })
    </script>

</body>

</html>
